@charset 'UTF-8';
:root {
  --greyishMagenta: #baaabb;
  --darkBlue: #0d1117;
  
}
/*********************************************************************************/
/* Dark Mode                                                                     */
/*********************************************************************************/

	.dark {
		color: var(--greyishMagenta);
		background-color: var(--darkBlue);
	}
	.dark strong,.dark b,.dark a,.dark input,.dark .dygraph-axis-label,
	.dark #copyright ul,.dark th,.dark tr,.dark td,.dark .label, .dark h1{
		color: var(--greyishMagenta);
	}
	.dark form input[type="text"],.dark form input[type="number"],.dark form input[type="datetime-local"],
	.dark form input[type="email"],.dark form input[type="password"],.dark form select,.dark form textarea, 
	.dark .dygraph-roller, .dark .idents, .dark input[type="color"] {
		background-color: #222; /*dark grey*/
		box-shadow: inset 0px 0px 1px 0px #000000;
	}
	.dark form input[type="text"]:focus,
	.dark form input[type="number"]:focus,
	.dark form input[type="datetime-local"]:focus,
	.dark form input[type="email"]:focus,
	.dark input[type="color"]:focus,
	.dark form input[type="password"]:focus,
	.dark form select:focus,
	.dark form textarea:focus,
	.dark .dygraph-roller:focus
	{
		background: var(--darkBlue);
	}
	.dark tr, .dark .dygraph-legend{
		background-color:#161b22;
	}
	.dark th{
		background-color:#101010;
	}
	.dark .helpImg{
		filter:invert(100%);
	}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	html{
		scroll-behavior:smooth;
	}
	body, input, textarea, select, .label
	{
		font-family: arial, sans-serif;
		font-weight: 400;	
		color: #666666;/*old color was #919499;*/
	}
	button, button.label, button.button.label
	{
		color: #FFFFFF;
	}

		body.is-loading *
		{
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-o-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-o-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}

	h1,h2,h3,h4,h5,h6
	{
		font-weight: 700;
		font-size: 100%;
		color: #484d55;
		padding: 0 0 0 1em !important;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
	}

	a
	{
		text-decoration: underline;
		color: #717479;
		-moz-transition: color .25s ease-in-out;
		-webkit-transition: color .25s ease-in-out;
		-o-transition: color .25s ease-in-out;
		-ms-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
	}
	
		a:hover
		{
			text-decoration: none;
		}

	strong, b
	{
		font-weight: 700;
		color: #484d55;
	}
	
	blockquote
	{
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}
	
	em, i
	{
		font-style: italic;
	}
	
	hr
	{
		border: 0;
		border-top: solid 1px #ddd;
	}
	
	sub
	{
		position: relative;
		top: 0.5em;
		font-size: 0.8em;
	}
	
	sup
	{
		position: relative;
		top: -0.5em;
		font-size: 0.8em;
	}
	
	.nobr
	{
		white-space: nowrap;
	}

	br.clear
	{
		clear: both;
	}
	
	p, ol, dl, table, blockquote, form /*removed margin from navbar ul*/
	{
		margin-bottom: 2em;
	}
	
	/* Table */
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  font-size: 10pt;
		}
		
		.scores{
			width: 100px !important;
			margin: 0 auto;
			table-layout: auto;
			border-collapse: collapse;
		}
		
		tr {
		    width: 80%;
		}

		th {
			border: 1px solid black;
			text-align: left;
			padding: 0 8px;		  
			background-color: #984806;
			color: white;
			font-weight: bold;
			white-space: nowrap;
		}
		
		td {
		  border: 1px solid black;
		  text-align: left;
		  padding: 0 8px;
		  color: black;
		  white-space: nowrap;
		}
		
		table
		{
			width: 100%;
		}
		
			table.default
			{
				width: 100%;
			}
			
				table.default tbody tr:nth-child(2n+2)
				{
					background: #f4f4f4;
				}
				
				table.default td
				{
					padding: 0.5em 1em 0.5em 1em;
				}
				
				table.default th
				{
					text-align: left;
					font-weight: 400;
					padding: 0.5em 1em 0.5em 1em;
				}
			
				table.default thead
				{
					background: #484d55;
					color: #fff;
				}
				
				table.default tfoot
				{
					background: #eee;
				}
				
				table.default tbody
				{
				}

	/* Form */

		form
		{
			margin: 0em;
		} 
		
		.idents{
			width: 30px;
			border-radius: 0.35em;
			border: 0;
			background: #eee;
			min-width: 20px;
		}
		
		.label {	
				-webkit-appearance: none;
				display: block;
				border: solid;
				border-width:1px;
				box-shadow: inset 0px 0px 1px 0px #a0a1a7;
				border-radius: 0.35em;
				width: 100%;
				padding: 0.75em 1em 0.75em 1em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
		}
		.safe { /* Green */
			background-color: #4CAF50 !important; 
			color: white !important; 
		} 
		.info {box-shadow: inset 0px 0px 5px 0px #a0a1a7 !important;} /* bigger shadow */
		.warning {background-color: #ff9800;} /* Orange */
		.danger { /* Red */ 
			background-color: #f44336 !important; 
			color: white !important; 
		} 
		.other {background-color: #e7e7e7;} /* Gray */ 
		
			form label
			{
				display: block;
				font-weight: 700;
				color: #484d55;
			}
		
			form input[type="text"],
			form input[type="number"],
			form input[type="datetime-local"],
			form input[type="email"],
			form input[type="password"],
			form select,
			form textarea
			{
				-webkit-appearance: none;
				display: block;
				border: 0;
				background: #eee;
				box-shadow: inset 0px 0px 1px 0px #a0a1a7;
				border-radius: 0.35em;
				width: 100%;
				padding: 0.75em 1em 0.75em 1em;
				-moz-transition: all .25s ease-in-out;
				-webkit-transition: all .25s ease-in-out;
				-o-transition: all .25s ease-in-out;
				-ms-transition: all .25s ease-in-out;
				transition: all .25s ease-in-out;
			}

			form input[type="text"],
			form input[type="number"],
			form input[type="datetime-local"],
			form input[type="email"],
			form input[type="password"],
			form select
			{
				line-height: 1em;
			}
			
			form textarea
			{
				min-height: 10em;
			}

				form input[type="text"]:focus,
				form input[type="number"]:focus,
				form input[type="datetime-local"]:focus,
				form input[type="email"]:focus,
				form input[type="password"]:focus,
				form select:focus,
				form textarea:focus
				{
					background: #f8f8f8;
				}
				
				form .formerize-placeholder
				{
					color: #555 !important;
					font-style: italic;
				}

				form ::-webkit-input-placeholder
				{
					color: #555 !important;
					font-style: italic;
					line-height: 1.35em;
				}

				form :-moz-placeholder
				{
					color: #555 !important;
					font-style: italic;
				}

				form ::-moz-placeholder
				{
					color: #555 !important;
					font-style: italic;
				}

				form :-ms-input-placeholder
				{
					color: #555 !important;
					font-style: italic;
				}

				form ::-moz-focus-inner
				{
					border: 0;
				}

	/* Section/Article */

		section,
		article
		{
			margin-bottom: 1em;
		}
		
			section > :last-child,
			article > :last-child
			{
				margin-bottom: 0;
			}

			section:last-child,
			article:last-child
			{
				margin-bottom: 0;
			}

	/* Image */

		.image
		{
			display: inline-block;
		}
		
			.image img
			{
				display: block;
				width: 100%;
			}

			.image.fit
			{
				display: block;
				width: 100%;
			}

			.image.left
			{
				float: left;
				margin: 0 2em 2em 0;
			}
			
			.image.centered
			{
				display: block;
				margin: 0 0 2em 0;
			}

				.image.centered img
				{
					margin: 0 auto;
					width: auto;
				}
				
			.image.featured
			{
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

	/* Button */
	
		
		::-webkit-file-upload-button {
			background: #444;
			color: #919499;
			text-align: center;
			font-weight: 700;
			letter-spacing: 0.05em;
			font-size: 0.9em;
			line-height: 4em;
			padding: 0 1.5em 0 1.5em;
			text-decoration: none;
			border-radius: 0.35em;
			border: 0;
			outline: 0;
			cursor: pointer;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}
		::-ms-browse {
			background: #444;
			color: #919499;
			text-align: center;
			font-weight: 700;
			letter-spacing: 0.05em;
			font-size: 0.9em;
			line-height: 4em;
			padding: 0 1.5em 0 1.5em;
			text-decoration: none;
			border-radius: 0.35em;
			border: 0;
			outline: 0;
			cursor: pointer;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;	
		}
	
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			display: inline-block;
			background: #444;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.25em;
			text-decoration: none;
			border-radius: 0.35em;
			border: 0;
			outline: 0;
			cursor: pointer;
			-moz-transition: all .25s ease-in-out;
			-webkit-transition: all .25s ease-in-out;
			-o-transition: all .25s ease-in-out;
			-ms-transition: all .25s ease-in-out;
			transition: all .25s ease-in-out;
		}	

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		.button:hover
		{
			background-color: #3f434b;
		}
		
		input[type="button"]:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		.button:active
		{
			background-color: #1f232b;
		}

	/* List */

		ul.default
		{
			list-style: disc;
			padding-left: 1em;
		}
		
			ul.default li
			{
				padding-left: 0.5em;
			}
			
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		position: relative;
	}			

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		padding: 0 0 2em 1em;
	}
	
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

.topnav {
	overflow: hidden;
	background-color: #444e;
	text-align: center;
	top:0;
	font-weight: 700;
	z-index: 69;
	border-radius: 0.5em;
	width: fit-content;
    margin: 0 auto;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
}


.topnav .icon {
  display: none;
  padding: 14px 14px;
}

.dropdown {
 display:inline-block;
}

.dropdown .dropbtn { 
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: arial, sans-serif;
}

.dropdown-content {
	position: absolute;
	background-color: #444e;
	min-width: 160px;
	z-index: 69;  
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 0em 0em 0.5em 0.5em;
	margin: -0.2em 0 0 0;
}

.dropdown-content a {
  float: none;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
			
	#copyright
	{
		text-align: center;
	}
	
		#copyright ul
		{
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.15);
			color: #000;
			color: rgba(0,0,0,0.95);
		}
		
		#copyright a
		{
			color: inherit;
		}
		
			#copyright a:hover
			{
				color: #000;
			}


/*********************************************************************************/
/* Dygraphs                                                                      */
/*********************************************************************************/

canvas:hover ~ .dygraph-roller {
	opacity:0.8;
}

.dygraph-legend {
  position: absolute;
  font-size: 14px;
  z-index: 10;
  width: 250px;  /* labelsDivWidth */
  /*
  dygraphs determines these based on the presence of chart labels.
  It might make more sense to create a wrapper div around the chart proper.
  top: 0px;
  right: 2px;
  */
  left: 70px !important;
  background: rgba(255,255, 255, 0.8);
  //background-color: transparent !important;
  line-height: normal;
  text-align: left;
  overflow: hidden;
}

/* styles for a solid line in the legend */
.dygraph-legend-line {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  padding-left: 1em;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
}

/* styles for a dashed line in the legend, e.g. when strokePattern is set */
.dygraph-legend-dash {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
  /* margin-right is set based on the stroke pattern */
  /* padding-left is set based on the stroke pattern */
}

.dygraph-roller:hover {
	opacity:1;
}

.dygraph-roller {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 50px;
  
	-webkit-appearance: none;
	display: block;
	border: 0;
	background: #eee;
	box-shadow: inset 0px 0px 1px 0px #a0a1a7;
	border-radius: 0.35em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

/* This class is shared by all annotations, including those with icons */
.dygraph-annotation {
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

/* This class only applies to annotations without icons */
/* Old class name: .dygraphDefaultAnnotation */
.dygraph-default-annotation {
 /* border: 1px solid black;
  background-color: white;*/
  text-align: center;
}

/* This class is shared by all annotations, including those with icons */
.dygraph-first-annotation {
  top: 12px !important;
  left: 60px !important;
}

.dygraph-axis-label {
  /* position: absolute; */
  font-size: 13px; 
  z-index: 10;
  line-height: normal;
  overflow: hidden;
  color: black;  /* replaces old axisLabelColor option */
}

.dygraph-axis-label-x {
}

.dygraph-axis-label-y {
}

.dygraph-axis-label-y2 {
}

.dygraph-title {
  font-weight: bold;
  z-index: 10;
  text-align: center;
  /* font-size: based on titleHeight option */
}

.dygraph-xlabel {
  text-align: center;
  /* font-size: based on xLabelHeight option */
}

/* For y-axis label */
.dygraph-label-rotate-left {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

/* For y2-axis label */
.dygraph-label-rotate-right {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  height: auto !important;
}

/*Trex code starts

H
E
R
E
*/


/*********************************************************************************/
/* T-Rekt                                                                        */
/*********************************************************************************/


/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Don't use the main frame div when the error is in a subframe. */
html[subframe] #main-frame-error {
  display: none;
}

/* Don't use the subframe error div when the error is in a main frame. */
html:not([subframe]) #sub-frame-error {
  display: none;
}

.hidden {
  display: none;
}

.suggestions {
  margin-top: 18px;
}

.suggestion-header {
  font-weight: bold;
  margin-bottom: 4px;
}

.suggestion-body {
  color: #777;
}

.error-code {
  color: #A0A0A0;
  margin-top: 15px;
}

/* Increase line height at higher resolutions. */
@media (min-width: 641px) and (min-height: 641px) {
  #help-box-inner {
    line-height: 18px;
  }
}

/* Decrease padding at low sizes. */
@media (max-width: 640px), (max-height: 640px) {
  body {
   /* margin: 15px;*/
  }
  h1 {
    margin: 10px 0 15px;
  }
  #content-top {
    margin: 15px;
  }
  #help-box-inner {
    padding: 20px;
  }
  .suggestions {
    margin-top: 10px;
  }
  .suggestion-header {
    margin-bottom: 0;
  }
  .error-code {
    margin-top: 10px;
  }
}

/* Don't allow overflow when in a subframe. */
html[subframe] body {
  overflow: hidden;
}

#sub-frame-error {
  -webkit-align-items: center;
  align-items: center;
  background-color: #DDD;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#sub-frame-error:hover {
  background-color: #EEE;
}

#sub-frame-error-details {
  margin: 0 10px;
  visibility: hidden;
}

/* Show details only when hovering. */
#sub-frame-error:hover #sub-frame-error-details {
  visibility: visible;
}

/* If the iframe is too small, always hide the error code. */
/* TODO(mmenke): See if overflow: no-display works better, once supported. */
@media (max-width: 200px), (max-height: 95px) {
  #sub-frame-error-details {
    display: none;
  }
}

/* Styles for platform dependent separation of controls and details button. */
.suggested-left > #control-buttons,
.suggested-right > #details-button  {
  float: left;
}

.suggested-right > #control-buttons,
.suggested-left > #details-button  {
  float: right;
}

#details-button.singular {
  float: none;
}

#buttons::after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

/* Offline page */
.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 100px auto 0;
  max-width: 600px;
  width: 100%;
}

.offline .runner-container {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 44px;
  z-index: 2;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.offline .controller {
  background: rgba(247,247,247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 400px) {
  .suggested-left > #control-buttons,
  .suggested-right > #control-buttons {
    float: none;
    margin: 50px 0 20px;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }

  .icon-offline {
    margin: 0 0 10px;
  }

  .interstitial-wrapper {
    margin-top: 5%;
  }

  .nav-wrapper {
    margin-top: 30px;
  }
}

/* Loader */

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
.loader {    
	margin: auto;
	top: 35%;
	font-size: 10px;
	position: relative;
	border-top: 1.1em solid red;
	border-right: 1.1em solid green;
	border-bottom: 1.1em solid blue;
	border-left: 1.1em solid purple;
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	opacity:0.5;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Dark Mode Toggle */
/* The switch - the box around the slider */
.switch {
  position: absolute; /*relative;*/
  right: 69px;
  top:12px; 
  display: inline-block;
  width: 52px;
  height: 20px;
}
.toggLabel {
  position: absolute; 
  right: 60px;
  top:30px; 
  display: inline-block;	
}
#titleBar { /*fixes issue with title bar blocking the slider*/
	width:30% !important;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  /*left: 4px;*/
  bottom: -3px;
  background-color: #f1f1f1;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #800080;
}
input:focus + .slider {
  box-shadow: 0 0 1px #800080;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ca5eca;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


/*********************************************************************************/
/* Desktop style                                                                 */
/*********************************************************************************/

@media screen and (min-width: 850px) {

	body, input, select, textarea
	{
		font-size: 11pt;
		line-height: 1.75em;
		letter-spacing: 0.025em;
	}
	
	.label
	{
		height:38px;
	}

	/* Section/Article */

		section,
		article
		{
			margin: 0 0 1em 0;
			padding: 0 0 0 4em !important;
		}

	/* Form */

		form
		{
			padding: 1em 0 1em 1em !important;
		}
		
			form label
			{
				margin: 0.25em 0 0.5em 0;
			}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			padding: 0 2.25em 0 2.25em;
			font-size: 0.9em;
			min-width: 12em;
			height: 4em;
			line-height: 4em;
		}
		

	/* List */

		ul
		{
		}

			ul.actions
			{
				margin: 3em 0 0 0;
			}
			
				form ul.actions
				{
					margin-top: 0;
				}
			
				ul.actions li
				{
					display: inline-block;
					margin: 0 0.75em 0 0.75em;
				}
				
				ul.actions li:first-child
				{
					margin-left: 0;
				}
				
				ul.actions li:last-child
				{
					margin-right: 0;
				}
				
				ul.actions-centered
				{
					text-align: center;
				}



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		/*position: absolute;
		height: 5em;*/
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		margin-top: 1em;
	}

		.homepage #logo
		{
			margin-top: -1em;
		}

		#logo h1
		{
			font-size: 2em;
			letter-spacing: 0.25em;
		}
		
		#logo p
		{
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 0.9em;
		}


/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro
	{
		text-align: center;
	}

		#intro > .style1
		{
			font-size: 1.5em;
			letter-spacing: 0.075em;
		}	
		
		#intro > .style2
		{
			font-size: 2.75em;
			letter-spacing: 0.075em;
			line-height: 1.35em;
			padding: 1em 0 1em 0;
			margin-bottom: 1em;
		}
		
		#intro > .style3
		{
			font-size: 1.1em;
			width: 48em;
			margin: 0 auto;
		}



/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-top: 1em;
		margin-bottom: 1em;
	}

		.homepage #main
		{
			margin-top: 0;
			margin-bottom: 0;
		}
	
	/* Container */
	.container {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1200px;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 6em 0 0 0;
	}
	
		#copyright ul
		{
			padding: 0.75em 2em;
			font-size: 0.9em;
		}
		
			#copyright ul li
			{
				display: inline-block;
				margin-left: 1em;
				padding-left: 1em;
				border-left: solid 1px #333;
				border-left-color: rgba(255,255,255,0.05);
			}
			
				#copyright ul li:first-child
				{
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
				
				
	#graphdiv3
	{
		width: 90vw; 
		height: 50vw;
		max-width:850px; 
		max-height:470px;
	}
}

/*********************************************************************************/
/* Mobile  style                                                                 */
/*********************************************************************************/
@media screen and (max-width: 850px) {
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
	#header
	{
		padding: 4em 0 0 0;
	}
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body, input, select, textarea
	{
		line-height: 1.5em;
		font-size: 9pt;
		letter-spacing: 0;
		/*padding: 1em 0.5em 0 !important;*/ /*was too small, now goes with default padding*/
	}
	
	.label
	{
		height:32px;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.2em;
		letter-spacing: 0.05em;
		margin: 0 0 1em 0;
	}

	hr
	{
		margin: 1em 0 1em 0;
	}

	/* Section/Article */

		section,
		article
		{/*This dumb code below was hard to find. It makes the box class start over in the row below.*/
			/*clear: both;*/
			padding: 1em 1em 0 !important;
		}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		input[type="file"],
		.button
		{
			display: block;
			width: 100%;
			font-size: 1em;
			padding: 1em 0 1em 0 !important;
			max-width: 30em;
			margin: 0 auto;
		}

	/* Box */

		.box
		{
			width: 30% !important;
		}

			.box.post-excerpt
			{
			}
			
				.box.post-excerpt .image.left
				{
					position: relative;
					top: 0.25em;
					width: 25%;
					margin: 0;
				}
				
				.box.post-excerpt h3,
				.box.post-excerpt p
				{
					margin-left: 32.5%;
				}

	/* Box */

		.row
		{
			/*width: 100% !important;*/
		}



/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		text-align: center;
	}

		#logo h1
		{
			font-size: 1.5em;
			letter-spacing: 0.2em;
		}
		
		#logo p
		{
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 0.9em;
		}
	
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.topnav {
		position: absolute;
	}
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: none;
	}
	.topnav a.icon {
		float: left;
		display: block;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		visibility: visible;
		opacity: 1;
	}
	.dropdown{
		display:block;
	}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {
		position: relative;
		visibility: visible;
		opacity: 1;
		background-color: #4440;
	}
	.topnav.responsive .dropdown-content a {
		padding: 10px 30px;
	}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
	

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 1em 0 0 0;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		padding: 0 0 2em 1em;
	}

		#content header.style1
		{
			padding-bottom: 2.5em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
		#footer hr
		{
			display: none;
		}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		padding: 2em 0 0 0;
	}
	
		#copyright ul
		{
			padding: 1em 2em;
			width: 100%;
		}
		
			#copyright ul li
			{
				display: block;
				margin: 0.5em 0 0 0;
			}
			
				#copyright ul li:first-child
				{
					margin-top: 0;
				}
	#graphdiv3
	{
		width: 90vw; 
		height: 50vw;
	}
		
	/* Mole Game */
	.game {
	  width: 400px !important;
	  height: 600px !important;
	}

	.hole {
	  flex: 1 0 50% !important;
	}

	/*Simon */
	.memory { 
		font-size: 18px !important;
	}

	/*Dobble*/
	.row .dobble,
	.row .dobble:after {
		width: 60vw;
		height: 60vw;
		margin: 0.1em;
		padding: 2em 2em 1em 2em !important
	}
	h1.Player {
		padding: 0 !important;
		font-size: 2.5em;
	}
	 div.dobble.dobbReference {
		width: 50vw;
		height: 50vw;
		float: right;
		margin: -6em 0 -6em 0;
		right: 0.1em;
	}

	.House, .P1, .P2 {
		background-size: contain !important;
	}
}

/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video{
	font-family:arial, sans-serif;
	vertical-align:baseline;
}
	
/* Grid */

	.row {
		border-bottom: solid 1px transparent;
	}

	.row > * {
		float: left;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	/* Gutters */

		/* Normal */

			.row > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 40px 0 0 40px;
			}

			.row {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -40px 0 -1px -40px;
			}

			.row.uniform > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 40px 0 0 40px;
			}

			.row.uniform {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -40px 0 -1px -40px;
			}

		/* 50% */

			.row.\35 0\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 20px 0 0 20px;
			}

			.row.\35 0\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -20px 0 -1px -20px;
			}

			.row.uniform.\35 0\25 > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 20px 0 0 20px;
			}

			.row.uniform.\35 0\25 {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -20px 0 -1px -20px;
			}