html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Memory */

.memory,
.memory:after {
	border-radius: 50%;
}
.memory {    
	margin: auto;
	top: 35%;
	font-size: min(4vw, 24px);
	position: relative;
	border-top: 10em solid rgb(255, 0, 0, 0.5);
	border-right: 10em solid rgb(0, 128, 0, 0.5);
	border-bottom: 10em solid rgb(0, 0, 255, 0.5);
	border-left: 10em solid rgb(255, 165, 0, 0.5);
	transform: scaleY(-1);
}

.waiting {
	-webkit-animation: load8 10s infinite linear;
	animation: load8 10s infinite linear;
}

.red {
	border-top: 10em solid rgb(255, 0, 0, 1);	
}

.green {
	border-right: 10em solid rgb(0, 128, 0, 1);	
}

.blue {
	border-bottom: 10em solid rgb(0, 0, 255, 1);	
}

.orange {
	border-left: 10em solid rgb(255, 165, 0, 1);	
}