html {
  box-sizing: border-box;
 # font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Memory */

.memory,
.memory:after {
	border-radius: 50%;
	width: 20em;
	height: 20em;
}
.memory {    
	margin: auto;
	top: 35%;
	font-size: 25px;
	position: relative;
	border-top: 10em solid rgb(255, 0, 0, 0.5);
	border-right: 10em solid rgb(0, 128, 0, 0.5);
	border-bottom: 10em solid rgb(0, 0, 255, 0.5);
	border-left: 10em solid rgb(255, 165, 0, 0.5);
	transform: scaleY(-1);
}

.waiting {
	-webkit-animation: load8 10s infinite linear;
	animation: load8 10s infinite linear;
}

.red {
	border-top: 10em solid rgb(255, 0, 0, 1);	
}

.green {
	border-right: 10em solid rgb(0, 128, 0, 1);	
}

.blue {
	border-bottom: 10em solid rgb(0, 0, 255, 1);	
}

.orange {
	border-left: 10em solid rgb(255, 165, 0, 1);	
}
